*{
    padding: 0;
    margin: 0;
    
}
:root{
    --background: #673AB7;
    --text:#FFC107;
}


.container{
    background-color: var(--background);
    padding: 40px;
    color: var(--text);
    height: 100vh;
    
}
input{
    width: 11vw;
    height: 5vh;
    padding: 1px;
    border: 0;
    border-radius: 6px;
    margin: 3px;
}
.tablehead input{
    background-color: var(--text);
}
button{
    width: 6vw;
    height: 5vh;
    background-color: var(--text);
    border: none;
    border-radius: 5px;
}
.tablefooter{
    padding: 20px;
    float:right;

}
.tablefooter input{
    padding: 1vw;
}
@media (maxwidth : 500px) {
    input{
        width: 12vw;
        height: 15vh;
    }
}
@media (maxwidth: 720px) {
    input{
        width: 20vw;
        height: 20vh;
    }
}
@media (maxwidth: 1000px) {
    input{
    width: 15vw;
    height:15vh ;
    }
}
@media (maxwidth: 320px){
    input{
        width: 50vw;
        height: 20vw;
        
    }
}